<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <h3 class="text-center">{{pageHeader.title}}</h3>
      {{#if boardID }}
        {{#if boardName }}
          <a href="/boards/{{boardID}}/{{boardName}}/newpost" class="btn btn-default pull-right">New Post</a>
          <br>
          <br>
        {{/if}}
      {{/if}}
      {{#each posts}}
        <div class="row list-group">
          <div class="col-xs-12 list-group-item">
            <div class="col-sm-6 post-title">
              <a href="#">{{subject}}</a>
            </div>
            <span class="author">Author: {{author.fullName}}</span>
            <span class="pull-right">Posted: {{created}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
